<form action="/restaurants" method="POST">
  <p>
    <label for="name">Name</label><br>
    <input type="text" name="name">
  </p>
  <p>
    <label for="address">Address</label><br>
    <input type="text" name="address">
  </p>
  <p>
    <label for="rating">Rating</label><br>
    <input type="number" name="rating">
  </p>
  <input type="submit">
</form>